<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/home'"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isLoading" text-center>
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form [formGroup]="profileForm" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input type="text" formControlName="username" readonly="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" formControlName="name" readonly="true"></ion-input>
              <ion-button slot="end" (click)="editName()">
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" formControlName="email" readonly="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Account created</ion-label>
              <ion-input type="text" formControlName="created" readonly="true"></ion-input>
            </ion-item>
            <ion-item *ngIf="deleteRequested">
              <ion-label position="floating">Enter password to confirm deletion</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item *ngIf="deleteRequested && !profileForm.controls.password.valid
              && profileForm.controls.password.touched
              && profileForm.controls.password.errors.pattern" lines="none">
              <p class="invalid">Should be at least 8 characters long, contain upper and lowercase
                characters, at least 1 number and a special character.</p>
            </ion-item>
            <ion-item>
              <ion-button color="danger" expand="block" (click)="onDelete()">
                Delete account
              </ion-button>
              <ion-button *ngIf="deleteRequested" color="primary" fill="clear" (click)="onCancelDelete()">
                cancel
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
