<ion-app>
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            Event tracking
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" routerLink="/profile">
              <ion-icon name="time" slot="start"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item (click)="onLogout()" lines="none" >
              <ion-icon name="exit" slot="start"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
