<ion-header>
  <ion-toolbar>
    <ion-title>Forgot password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/auth'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPassword()" [hidden]="promptSent">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Username / Email</ion-label>
              <ion-input type="text" formControlName="username"></ion-input>
            </ion-item>
            <ion-item *ngIf="(!forgotPasswordForm.controls.username.valid && forgotPasswordForm.controls.username.touched)" lines="none">
              <ion-label>Should be a valid username or email address.</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-button type="submit" color="primary"  expand="block" [disabled]="!forgotPasswordForm.valid">
            Continue
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPassword()" [hidden]="!promptSent">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Verification code</ion-label>
              <ion-input type="number" formControlName="verificationCode"></ion-input>
            </ion-item>
            <ion-item *ngIf="!resetPasswordForm.controls.verificationCode.valid && resetPasswordForm.controls.verificationCode.touched" lines="none">
              <ion-label class="invalid">Should be a valid verification code.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="newPassword" clearOnEdit="false"></ion-input>
            </ion-item>
            <ion-item *ngIf="!resetPasswordForm.controls.newPassword.valid
              && resetPasswordForm.controls.newPassword.touched
              && resetPasswordForm.controls.newPassword.errors.pattern" lines="none">
              <p class="invalid">Should be at least 8 characters long, contain upper and lowercase
                characters, at least 1 number and a special character.</p>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirm password</ion-label>
              <ion-input type="password" formControlName="confirmPassword" clearOnEdit="false"></ion-input>
            </ion-item>
            <ion-item *ngIf="(!resetPasswordForm.controls.confirmPassword.valid && resetPasswordForm.controls.confirmPassword.touched)
              || (!resetPasswordForm.controls.newPassword.valid && resetPasswordForm.controls.newPassword.errors.newPasswordMatch)" lines="none">
              <p class="invalid">Passwords do not match.</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-button type="submit" color="primary"  expand="block" [disabled]="!resetPasswordForm.valid">
            Reset password
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
