<ion-header>
  <ion-toolbar>
    <ion-title>Forgot password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/auth'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-list>
            <ion-item [hidden]="promptSent">
              <ion-label position="floating">Username / Email</ion-label>
              <ion-input type="text" ngModel [required]="!promptSent" name="userName" #userNameCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!promptSent && (!userNameCtrl.valid && userNameCtrl.touched)" lines="none">
              <ion-label>Should be a valid username or email address.</ion-label>
            </ion-item>
            <ion-item [hidden]="!promptSent">
              <ion-label position="floating">Verification code</ion-label>
              <ion-input type="text" ngModel name="verificationCode" [required]="promptSent" #verificationCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!promptSent && (!verificationCtrl.valid && verificationCtrl.touched)" lines="none">
              <ion-label>Should be a valid verification code.</ion-label>
            </ion-item>
            <ion-item [hidden]="!promptSent">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" ngModel name="password" [required]="promptSent" minlength="8" #passwordCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!promptSent && (!passwordCtrl.valid && passwordCtrl.touched)" lines="none">
              <ion-label>Should be at least 8 characters long, contain upper and lowercase
                characters, at least 1 number and a special character.</ion-label>
            </ion-item>
            <ion-item [hidden]="!promptSent">
              <ion-label position="floating">Confirm password</ion-label>
              <ion-input type="password" ngModel name="confPassword" [required]="promptSent" minlength="8" #confirmPasswordCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!confirmPasswordCtrl.valid && confirmPasswordCtrl.touched" lines="none">
              <ion-label>Should be at least 6 characters long.</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-button type="submit" color="primary"  expand="block" [disabled]="!f.valid">
            {{ !promptSent ? 'Continue' : 'Reset password'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
